/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

blockquote {
    @apply p-3 border rounded text-lg border-gray-200 my-4
}

code {
    background-color: rgba(0,0,0,0.075);
    @apply p-1 rounded-lg
}
.stickyNav {
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
}

.examCard {
    @apply bg-white overflow-hidden rounded-lg my-8 border border-gray-300 shadow-sm
}

.card {
    display: table;
    white-space: normal;
    @apply rounded-lg border p-4 mb-3 transition-all duration-100 w-full text-left
}
.card:active {
    @apply shadow-outline outline-none
}
.card:focus {
    @apply shadow-outline outline-none
}

.unselectedCard {
    @apply border-gray-300

}
.unselectedCard:hover {
    @apply border-gray-500
}

.selectedCard {
    @apply text-white bg-blue-500 border-blue-600;

}
.selectedCard:hover {
    opacity: 0.95;
}

.adminNavBarInactive {
    @apply ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out
}
.adminNavBarInactive:hover {
    @apply text-gray-700 border-gray-300
}
.adminNavBarInactive:focus {
    @apply outline-none text-gray-700 border-gray-300
}

.adminNavBarActive {
    @apply inline-flex items-center px-1 pt-1 border-b-2 border-blue-500 text-sm font-medium leading-5 text-gray-900 transition duration-150 ease-in-out
}
.adminNavBarActive:focus {
    @apply outline-none border-blue-700
}

.editor-card {
    display: table;
    white-space: normal;
    @apply rounded-lg border p-4 transition-all duration-100 w-full text-left
}
.editor-card:active {
    @apply shadow-outline outline-none
}
.editor-card:focus {
    @apply shadow-outline outline-none
}

.editor-unselectedCard {
    @apply border-gray-300

}
.editor-unselectedCard:hover {
    @apply border-gray-500
}

.editor-selectedCard {
    @apply text-white bg-blue-500 border-blue-600;

}
.editor-selectedCard:hover {
    opacity: 0.95;
}

/*.multipleChoiceRadioButton {*/
/*    opacity: 0;*/
/*}*/

@tailwind utilities;
