/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */


code {
    background-color: rgba(0,0,0,0.075);
    @apply p-1 rounded-lg
}
.stickyNav {
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
}

.examCard {
    @apply bg-white overflow-hidden rounded-lg my-8
}

.card {
    display: table;
    white-space: normal;
    @apply rounded-lg mb-1 p-3 transition-all duration-100 w-full text-left text-lg
}
.card:hover {
    @apply bg-gray-50
}
.card:active {
    @apply bg-gray-100
}
.card:focus {
    @apply shadow-outline outline-none
}

/*.unselectedCard {*/
/*    @apply border-gray-200 shadow-sm*/

/*}*/
.unselectedCard:hover {
    @apply border-gray-300
}

.selectedCard {
    @apply text-blue-600 border-blue-600;

}
.selectedCard:hover {
    opacity: 0.95;
}

.adminNavBarInactive {
    @apply ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out
}
.adminNavBarInactive:hover {
    @apply text-gray-700 border-gray-300
}
.adminNavBarInactive:focus {
    @apply outline-none text-gray-700 border-gray-300
}

.adminNavBarActive {
    @apply inline-flex items-center px-1 pt-1 border-b-2 border-blue-500 text-sm font-medium leading-5 text-gray-900 transition duration-150 ease-in-out
}
.adminNavBarActive:focus {
    @apply outline-none border-blue-700
}

.editor-card {
    display: table;
    white-space: normal;
    @apply rounded-lg py-2 px-4 w-full text-left
}

.editor-unselectedCard {
    @apply border-transparent

}
.editor-unselectedCard:hover {
    @apply border-gray-100
}

.editor-selectedCard:hover {
    opacity: 0.95;
}


.MuiInputBase-root {
    border-radius: 0.5rem !important;

}
/* purgecss start ignore */
.ql-editor {
    font-family: 'Inter var' !important;
    font-size: 1.1rem !important;
    padding: 0rem !important;
    height: 100%;
}

.ql-editor hr {
    color:  black;
}


.ql-active {
    color: #589bff !important;

}

.ql-editor.ql-blank::before{
    font-size: 1.1rem !important;
    color: #D2D6DB !important;
    padding: 0rem !important;
    display: block;
    left: 0px !important;
    z-index: 30 !important;
}



.modalOverlay {
    z-index: 4000 !important;
}

.cornerNotification {
    z-index: 3500 !important;
}

.popover {
    z-index: 3000 !important;
}

.navbar {
    z-index: 2000 !important;
}

.tooltipNavbar {
    z-index: 2500 !important;
}

.toolbarOverlay {
    z-index: 1000 !important;
}

/* purgecss end ignore */





@tailwind utilities;
