/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
.stickyNav {
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
}

.examCard {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    @apply bg-white overflow-hidden rounded-lg my-8 border border-gray-100
}
.card {
    display: table;
    white-space: normal;
    @apply rounded-lg border p-4 mb-3 transition-all duration-100 w-full text-left
}
.card:active {
    @apply shadow-outline outline-none
}
.card:focus {
    @apply shadow-outline outline-none
}

.unselectedCard {
    @apply border-gray-300

}
.unselectedCard:hover {
    @apply border-gray-500
}

.selectedCard {
    @apply text-white bg-blue-500 border-blue-600;

}
.selectedCard:hover {
    opacity: 0.95;
}

/*.multipleChoiceRadioButton {*/
/*    opacity: 0;*/
/*}*/

@tailwind utilities;
